
.bg_theme {
	background-color: #323a4f;
}
.clr_theme {
	color: #ffb400;
}
.white {
    color: #fff;
}

.black {
    color: #777;
}

.ftr_bar, .inline {
    padding-left: 30px;
}
.float_right {
    float: right;
}
.icon_img {
    height: 15px;
    width: auto;
    margin-right: 7px;
}
.width_40 {
    width: 40% !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #ffb400 !important;
  background-color: transparent !important;
}

/* Icon Forward */
.hvr-icon-forward { 
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffb400;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 5px;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: #323a4f !important;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.more {display: none;}
.readmore_clr {
   color: #ea4d4d;
    background-color: transparent;
    box-shadow: none;
    border: 0 none;
    margin-top: 10px;
}
.readmore_clr:focus {
    outline: none;
}
.t_100 {
    top: 100px;
}

.font_18 {
	font-size: 18px;
}
.toggle_show {
    display: none !important;
}
.d_none {
    display: none;
}
.p_r_0 {
    padding-right: 0 !important;
}
.p_4_0 {
    padding: 4rem 0;
}
.p_l_0 {
    padding-left: 0 !important;
}

.my-4 {
    margin: 4rem 0;
}
.m_t_4 {
    margin-top: 4px;
}
.m_t_0 {
    margin-top: 0px !important;
}
.m_t_10 {
    margin-top: 10px !important;
}
.m_t_20 {
    margin-top: 20px !important;
}
.m_t_30 {
    margin-top: 30px !important;
}
.m_b_30 {
    margin-bottom: 30px !important;
}
.m_t_50 {
    margin-top: 50px !important;
}
.m_b_50 {
    margin-bottom: 50px;
}

.list_none {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mdl_open {
    overflow-y: scroll;
    padding-right: 0 !important;
}
.mdl_open.modal-open {
    position: fixed;
}

.search_box {
    overflow:visible !important;
}
.search_box input[type=text] {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ffb400;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.9s ease-in-out;
    transition: width 0.9s ease-in-out;
    border: 0 none;
    height: 100%;
}

/*.search_box input[type=text]:focus {
    width: 100%;
}*/

body::-webkit-scrollbar-thumb {
    background: linear-gradient( to top, #ffb400, #ffb400);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 100px;
}
body::-webkit-scrollbar {
    width: 14px;
    background: #fafafa;
}

.navbar-collapse.in::-webkit-scrollbar-thumb {
    background: linear-gradient( to top, #373537, #373537);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 100px;
}
.navbar-collapse.in::-webkit-scrollbar {
    width: 7px;
    background: #fafafa;
}

/*.box{
    overflow: hidden;
    display: none;
    height: 100%;
    min-height: 200px;
}*/
.social_icon span.sub_header_apan {
    border: 1px solid #fff;
    text-align: center;
    display: inline-block;
    padding: 1px 4px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    line-height: 20px;
}
.social_icon span.sub_header_apan i {
    font-size: 14px;
    margin-right: 0;
    color: #ffb400;
    cursor: pointer;
}
.sub_header {
    background-color: rgba(54, 59, 78, 0.5);
    padding: 10px 0;
    border-bottom: 1px solid #cfcfcf;
}
.sub_header_apan {
    color: #fff;
    text-transform: capitalize;
    font-size: 13px;
}
.sub_header_apan i.fa.fa-mobile, .sub_header_apan i.fa.fa-envelope-o {
    font-size: 20px;
    color: #ffb400;
    cursor: pointer;
    position: relative;
    top: 2px;
}
.social_icon span.sub_header_apan.search {
    background-color: #ffb400;
    border: 1px solid #ffb400;
}
.social_icon span.sub_header_apan.search i {
    color: #363b4e;
}
.sub_header_apan i.ital {
	color: #ffb400;
}

.navbar_cst {
    margin-top: 0px;
    padding: 0 10px;
}
.navbar-custom .navbar-brand img {
    width: 100%;
    max-width: 200px;
}
.scl .sub_header {
    background-color: #363b4e;
}
.scl .bg_scrol {
    background-color: #363b4e;
    min-height: 50px;
}

.career_conlist {
    margin: 30% auto;
    text-align: center;
}
.career_conlist ul li {
    width: 60%;
    margin: 15px auto;
    background-color: #323a4f;
    text-align: left;
}
.career_conlist ul li span.left_icon {
    display: inline-flex;
    height: 44px;
    width: 44px;
    position: relative;
    overflow: hidden;
}
.career_conlist ul li span.left_icon:before {
    content: "";
    position: absolute;
    width: 48px;
    height: 55px;
    top: -15%;
    left: -25%;
    z-index: 0;
    background: #ffb400;
    -webkit-transform: rotate(30deg);
    transform: rotate(13deg);
}
.career_conlist ul li span.left_icon i {
    color: #323a4f !important;
    padding: 10px 0px;
    font-size: 25px;
    width: 100%;
    text-align: center;
    margin-right: 9px;
}
.career_conlist ul li span.right_text{
    vertical-align: top;
    margin-top: 10px;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    margin-left: 6px;
}

.heading_clr {
    color: #fff;
}

.sec_title h2 {
     font-weight: bold;
    font-size: 30px;
}
/*#about {
    background: url(../img/site/back.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}*/
#about h2 {
    margin-bottom: 30px;
    text-transform: capitalize;
}

.about_relative {
    position: relative;
}

.about_absolute {
    position: absolute;
    top: 50%;
    right: -41px;
    transform: translateY(-50%);
}
.about_part {
    padding-left: 70px;
    margin-bottom: 20px;
}
.about_part p.text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
}
.about-text ul li span {
    float: left;
    position: relative;
}
/*.about-text ul li span:after {
    content: "";
    width: 2px;
    border: 1px solid #999;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    min-height: 88px;
    top: 28px;
}
.about-text ul li:last-child span:after {
    display: none;
}*/
.about-text ul li span i {
    font-size: 30px;
}
.section_test h2 {
    margin-bottom: 15px;
    text-transform: capitalize;
}
/*.about-text ul li span img {
    width: 100%;
    max-width: 50px;
    margin-bottom: 10px;
}*/

.read_modal button.close {
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 27px;
}
.read_modal .modal-header {
    padding: 10px 15px;
}
.read_modal .modal-header h4 {
    font-weight: bold;
}

.nav_t {
    background-color: rgba(60, 66, 85, 0.7);
    border-bottom: 0px solid #ddd !important;
}
.nav_t li {
    float: left;
    width: 50%;
    height: 100%;
}
.nav_t li a.active {
    background-image: url(../img/ban/main-banner-overlay.png);
}
.nav_t li a {
    height: 100%;
    max-height: 200px;
    min-height: 200px;
    display: inline-block;
    width: 100%;
}
.nav_t li a h5 {
    color: #d4d1d1;
    text-transform: capitalize;
    font-size: 16px;
}
.nav_t > li.active > a, .nav_t > li.active > a:hover, .nav_t > li.active > a:focus {
    background-color: transparent;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}
.nav_t > li > a:hover, .nav_t > li > a:focus {
    background-color: transparent;
    border-color: transparent;
}
.nav_t li a img {
    width: 100%;
    display: block;
    text-align: center;
    margin: 30px auto;
    height: auto;
    min-height: 50px;
    max-width: 50px;
}
.service_product .tab-content {
    background-color: #fff;
    padding: 40px 40px;
    box-shadow: -5px -5px 13px -4px #000;
    position: absolute;
    top: -80px;
    height: 100%;
    display: inline-table;
    min-height: 468px;
    width: 80%;
}
.service_product .tab-content p {
    color: #7c7c7c;
    line-height: 24px;
    text-align: center;
    height: 100%;
    min-height: 298px;
    max-height: 298px;
    overflow-y: auto;
    padding-right: 10px;
    overflow-x: hidden;
}
.service_product .tab-content p::-webkit-scrollbar-thumb {
    background: linear-gradient( to top, #474a5e, #484c5f);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 4px;
}
.service_product .tab-content p::-webkit-scrollbar {
        width: 7px;
    background: #f4ae06;
}
.t_head span.h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 18px 10px;
    display: inline-block;
}
.relative {
    position: relative;
   /* top: 100px;*/
}

.service {
    text-align: center;
    padding: 0px 0px;
}
.service:hover {
    box-shadow: 1px 1px 16px -2px #ada9a9;
    border-radius: 23px;
}
.service_card {
    position: relative;
}
.service_product h2 {
    margin-bottom: 30px;
    text-transform: capitalize;
}

.service_product .text-center p {
    line-height: 25px;
}

.service img.ser_img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 23px 23px 0 0;
    height: 100%;
    min-height: 150px;
    max-height: 150px;
}
.avatar {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 100px;
    padding: 10px;
}
.avatar img {
    height: 70px;
    width: 70px;
}

.t_head {
    text-align: center;
    margin-bottom: 30px;
}
.t_head span img {
    height: 50px;
    width: 50px;
}
.product {
    position: relative;
    top: 40px;
    padding: 0px 10px 30px;
}
.product .icon {
    float: left;
    position: absolute;
    top: -13px;
}

.product .text p {
    position: relative;
    margin: 20px 0;
}
/*.product .text p:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #ccc;
    top: 0px;
    right: -15px;
}

.product.last .text p:after {
    display: none;
}*/

span.circle_btn {
    border: 1px solid #ffb400;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 15px;
    font-weight: normal;
    font-size: 14px;
    background-color: #363b4e;
    max-width: 142px;
    width: 100%;
    text-align: center;
    line-height: 30px;
}
/*span.circle_btn:hover {
    border-color: #ffb400;
    background-color: transparent !important;
}
*/span.circle_btn:before {
    background: transparent;
}

.circle_btn a {
    color: #ffb400;
}
.circle_btn a:hover {
    color: #ffb400;
}
span.circle_icon {
    margin-left: 10px;
    margin-top: 0px;
    background-color: #ffb400;
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 100px;
}
span.circle_icon i {
    color: #000;
}
.circle_btn span {
    color: #ffb400 !important;
    margin-left: 10px;
    font-size: 19px;
    vertical-align: top;
}
.circle_btn span img {
    width: auto;
    margin: 0;
}

.line_section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #363b4e;
    padding: 10px 0;
}
span.left_linesection {
    color: #fcfcf9;
    font-size: 16px;
    font-weight: 500;
}
.line_section li {
    display: inline;
    margin-right: 20px;
}
#works {
    background: url(../img/ban/career-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    /*background-position: left bottom;
    position: relative;*/
}
.wort_title {
    margin-bottom: 40px;
}
.wort_title h2 {
    text-transform: capitalize;
    margin-bottom: 15px;
}
.wort_title p {
    color: #363b4e;
}



.career_contact {
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
}

.carer_list {
    border-bottom: 5px solid #363b4e;
    z-index: 999;
    margin-top: 40px;
}
.carer_list ul {
    margin: 0px 0 8px;
}
.carer_list ul li {
    display: inline;
    background-color: #363b4e;
    color: #fff;
    margin: 0 2px 0 0;
    padding: 10px 20px 10px;
    border-radius: 6px 6px 0 0;
    z-index: 17;
    position: relative;
    left: 36%;
    font-size: 16px;
}
.carer_list ul li span i {
    color: #ffb400;
    font-size: 16px;
    margin-right: 8px;
}
.career_left {
    padding: 10px 0;
}
.panel_def {
    margin-bottom: 10px;
}
.panel_carer {
    text-transform: capitalize;
    padding: 10px 0;
    height: 100%;
    min-height: 40px;
    font-size: 15px;
}
.panel_carer small {
    color: #ffb400;
}
.panel_carer i {
    background-color: #ffb400;
    color: #fff;
    padding: 8px 7px;
    line-height: 5px;
    border-radius: 4px;
}
/*.panel_carer a:hover, .panel_carer a:focus {
    color: #363b4e !important;
}*/
.panel_head {
    background-color: #fff !important;
    border-color: #363b4e !important;
    padding: 0px 10px;
    border: 1px solid #373c4f;
    border-radius: 6px;
}
.panel_head a:hover, .panel_head a:focus {
    color: #363b4e;
}
.panel_body {
    font-size: 14px;
    background-color: #363b4e;
    color: #fff;
    line-height: 22px;
    padding: 20px 10px !important;
    text-align: justify;
    border-radius: 6px 6px;
}
.contact_msg {
    padding: 10px 15px;
}
.contact_msg h5, .career_left h5 {
    margin: 10px 0;
}
/*#contactForm input {
    border: 0 none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0;
}*/
form#contactForm {
    margin-top: 20px;
}
.contact_msg input[type='file'] {
    color: transparent;
    opacity: 0;
}

#contactForm input {
    border: 0 none;
    border-bottom: 1px solid #363b4e;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
}
.input-group.int {
    border-bottom: 1px solid #363b4e !important;
    width: 100%;
    border-radius: 4px;
    border: 0 none;
}
.int span {
    width: 15%;
    padding: 9px 10px;
    background-color: #363b4e;
    border-radius: 7px !important;
    color: #fff;
    font-size: 12px;
}
/*.int input {
    margin: 0 0 !important;
    width: 75%;
    position: absolute;
    left: 16%;
    top: 5px;
    border-bottom: 0 !important;
}*/
.chose_parent {
    position: relative;
    text-align: center;
    padding: 0px 8px;
    background-color: #ffb400;
    color: #fff;
    border-radius: 8px;
    line-height: 32px;
    height: 100%;
    margin: 0 5px;
    font-size: 14px;
    top: 2px;
}
.hide_file {
    position: absolute;
    left: 0;
    top: 0;
}
#contactForm textarea {
    border: 0 none;
    border-bottom: 1px solid #363b4e;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
}

.eclips {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#team {
    background: url(../img/ban/management-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #ddd;
    padding: 140px 0;
}
.mng_block {
    box-shadow: 4px 2px 4px 0px #000;
}
.team_title.center {
    padding-left: 15px;
}
.team_title h2 {
    margin-bottom: 15px;
    text-transform: capitalize;
}

ul.list_mng {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.list_mng li {
    display: inline;
    width: 20%;
    float: left;
}
.mng_link img.img-fluid {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    min-height: 200px;
    width: 100%;
}
.list_mng li:hover .mng_link img{
  -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.desc {
    background-color: #363b4e;
    padding: 10px 15px;
    color: #fff;
}
.list_mng li:hover .desc {
    background-color: #ffb400;
    color: #363b4e;
    transition: all ease 0.9s;
}
.list_mng li:hover .desc span {
    color: #fff;
    transition: all ease 0.9s;
}
.mng_hover {
    background-color: #fff;
    padding: 20px 20px;
    text-align: center;
    display: inline-block;
    opacity: 0;
    min-height: 180px;
    height: 100%;
    transform: translateY(100%);
    transition: all ease-in-out 0.5s;
}
.list_mng li:hover .mng_hover {
    opacity: 1;
    transition: all ease 0.9s;
    transform: translateY(0%);
}
.mng_hover p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px;
    color: #7c7c7c;
}
.mng_hover div span i {
    font-size: 15px;
    margin-right: 10px;
    color: #ffb400;
}
a.mng_link {
    display: block;
}
.blog_card .blg_img {
    width: 100%;
    border-radius: 6px;
}
.blog_text div span img {
    height: 15px;
    width: 15px;
    vertical-align: top;
    margin-top: 3px;
}
.blog_text h5 {
    color: #363b4e;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 10px 0;
}
.plugin {
    background-color: #ffb400;
    padding: 40px 0;
    text-align: center;
    margin-top: 90px;
}
span.blog_span {
    margin: 0 20px 0 8px;
    color: #363b4e;
}

.descs {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #777;
    height: 100%;
    max-height: 63px;
}
.descc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 100%;
    max-height: 49px;
}
.desccc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 100%;
    max-height: 40px;
}
.hovercard .text {
    padding: 0px 20px 20px;
}

.hovercard span.circle_btn {
    border: 1px solid #323a4f;
}
.hovercard .circle_btn a {
    color: #323a4f;
}
.hovercard span.circle_icon {
        background-color: #363b4e;
}
.hovercard span.circle_icon i {
    color: #e2e2e2;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    color: #777 !important;
    background-color: rgb(238, 221, 111) !important;
    border-radius: 0;
    width: 40px;
    height: 40px;
    font-weight: normal !important;
    box-shadow: 0px 2px 10px 1px #777;
}
.owl-prev span, .owl-next span {
    display: none;
}

.owl-prev {
    left: 0px;
    font-size: 0;
}
.owl-prev:after {
    content: "\f104";
    font-family: fontAwesome;
    font-size: 36px;
    position: relative;
    top: -6px;
    left: 0px;
}
.owl-next {
    right: 0px;
    font-size: 0;
}
.owl-next:after {
        content: "\f105";
    font-family: fontAwesome;
    font-size: 36px;
    position: relative;
    top: -6px;
    left: 0px;
    
}

.owl_custom .owl-dots {
    text-align: center;
    margin-top: 45px;
}
.owl_custom .mng_hover {
    transform: translateY(0%);
    opacity: 1;
}
.owl_custom .owl-item img.hvr-icon {
    display: inline !important;
    width: auto !important;
}
.owl_custom span.circle_btn {
    margin-bottom: 0 !important;
}
.owl_custom .sc_icon {
    background-color: #363b4e;
    padding: 10px;
    text-align: center;
}
.owl_custom .sc_icon span {
    color: #ffb400;
    font-size: 22px;
    margin: 0 10px;
}
.owl_custom .mng_block {
    box-shadow: none;
}
.owl_custom .desc {
    background-color: #ffb400;
    color: #363b4e;
    transition: all ease 0.9s;
    padding: 15px;
    font-size: 18px;
}
.owl_custom .owl-nav .owl-prev, .owl_custom .owl-nav .owl-next {
    background: #ffb400;
    width: 40px;
    height: 40px;
    line-height: 48px !important;
    top: 39%;
    border-radius: 0%;
    opacity: 1; 
    visibility: visible; 
}
.owl_custom1 .owl-nav .owl-prev, .owl_custom1 .owl-nav .owl-next {
    background: #ffb400;
    width: 40px;
    height: 40px;
    line-height: 48px !important;
    top: 50%;
    border-radius: 0%;
    opacity: 1; 
    visibility: visible; 
}
.owl_custom1 .owl-nav .owl-prev:focus, .owl_custom1 .owl-nav .owl-next:focus {
    outline: 0 none;
}
.owl_custom .desc span {
    color: #fff;
    transition: all ease 0.9s;
}
.owl_custom .owl-dots .owl-dot, .owl_custom .owl-dots .owl-dot:focus {
    height: 15px;
    width: 15px;
    border-radius: 100px;
    margin: 0 5px;
    outline: 0 none;
    background-color: #fff;
}
.owl_custom .owl-dots .owl-dot.active {
    background-color: #eedd6e;
}

footer.footer {
    background-color: #323a4f;
    padding: 50px 0;
}
.ftr_logo img {
    margin-bottom: 20px;
    width: 100%;
    max-width: 200px;
}
.ftr_logo p, .ftr_logo address {
    color: #fff;
    opacity: 0.9;
    line-height: 23px;
}
.ftr_logo p span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.ftr_logo p span i {
    font-size: 40px;
}
.ftr_bar h4, .inline h4 {
    color: #ffb400;
    margin-bottom: 15px;
}
.ftr_bar ul li a {
    color: #fff;
    font-size: 13px;
}
.inline ul li {
    margin-bottom: 15px;
    float: left;
}
.inline ul li a {
    padding: 10px 20px 10px 5px;
    color: #fff;
    opacity: 0.9;
}
.ftr_bar ul li a:hover, .inline ul li a:hover {
    color: #ffb400;
}
section.footer_2 {
    background-color: #3f4b69;
    text-align: center;
    padding: 10px;
    color: #fff;
    box-shadow: 0px 1px 2px 1px #000;
}
.footer_2 p {
    margin-bottom: 0;
}


.btn-clrnone {
    background-color: transparent;
    width: 100%;
    text-align: left;
    padding: 0;
}


#contact {
    background: url(../img/ban/contact-us-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #ddd;
    padding: 140px 0;
    background-position: 0 0;
}
.section_contact h2 {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 32px;
}
#googleMap {
    height: 100%;
    width: 100%;
    max-height: 200px;
    min-height: 200px;
}

.contact_touch {
    background-color: #fff;
    display: flex;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border-radius: 7px;
}
.contact_touch ul {
    width: 100%;
    margin: 0;
}
.contact_touch ul li {
    display: inline;
    float: left;
    width: 45%;
    height: 100%;
}
.contact_touch ul li iframe {
    height: 100%;
}
.form_list {
    width: 55% !important;
    padding: 30px 25px;
    text-align: left;
}
.form_list .circle_btn {
    margin-top: 50px !important;
}
.contact_list {
    width: 70%;
    margin: 0 auto;
    display: block;
}
.contact_list ul {
        display: inline-block;
    width: 100%;
    margin-top: 30px;
}
.contact_list ul li {
    width: 33%;
    float: left;
}
.contact_list ul li:nth-child(2) {
    padding-left: 40px;
}
.contact_list ul li:nth-child(2) span img {
    height: 22px;
}
.contact_list ul li:nth-child(3) {
    padding-left: 50px;
}
.contact_list ul li span img {
    height: 30px;
    width: auto;
}
.fl_left {
    float: left;
}
span.cnt_span {
    padding-left: 15px;
    text-align: left;
    display: inline-block;
    margin-top: 0px;
    font-size: 14px;
}

.contact_touch .left {
    padding: 0;
    background-color: #fff;
}
.gettouch {
    padding: 50px 15px;
    text-align: left;
    width: 85%;
    margin: 0 auto;
}
.gettouch h1 {
    color: #000;
    font-weight: 600;
    font-size: 30px;
}
.gettouch h3 {
    font-size: 18px !important;
    margin-top: 30px !important;
}
.gettouch form {
    padding-top: 0 !important;
}
.contact_touch .right ul li {
    margin-bottom: 10px;
    display: inline-block;
}
.contact_touch .right {
    margin-top: 25%;
    text-align: left;
    padding: 10px 40px;
}
.contact_touch .right ul li .right_lt {
    float: left;
}
.contact_touch .right ul li span.right_rt {
    padding-left: 20px;
    float: left;
}


/*-- back to top--*/
#back2Top {
    z-index: 999;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 15px;
}

/* Search Style */ 
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
           -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
         -moz-transform: translate(0px, -100%) scale(0, 0);
          -ms-transform: translate(0px, -100%) scale(0, 0);
         -o-transform: translate(0px, -100%) scale(0, 0);
              transform: translate(0px, -100%) scale(0, 0);    
    opacity: 0;
    display: none;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
       -moz-transform: translate(0px, 0px) scale(1, 1);
          -ms-transform: translate(0px, 0px) scale(1, 1);
           -o-transform: translate(0px, 0px) scale(1, 1);
               transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
    z-index: 106;
    display: block;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -51px;
    width: 60%;
    margin-left: 20%;
    color: rgb(255, 255, 255);
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, .8);
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
    outline: none;
    padding: 10px;
}
  
#search .close {
    position: fixed;
    top: 38%;
    right: 20%;
    opacity: 1;
    font-size: 27px;
    color: #fff;
}

#search .close:hover{
  color: #ffb400;
  cursor: pointer;
}

.blog .icon {
    margin: 15px 0;
}
.blog span.date {
    display: block;
    height: 45px;
    width: 55px;
    text-align: center;
    color: #ffb400;
    background-color: #363b4e;
    padding: 3px;
    position: relative;
    float: left;
}
.blog span.date:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #ffb400;
    right: 0;
    bottom: 0;
}
.blog span.title {
    display: block;
    border-bottom: 1px solid #363b4e;
    overflow-x: hidden;
    margin: 0 !important;
    padding: 2px 15px;
    margin-bottom: 3px;
}
.blog span.title h5 {
        margin: 0 0;
    color: #363b4e;
        line-height: initial;
        text-transform: capitalize;
}
.blog span.title small {
        color: #363b4e;
}
h4.blg_title {
    background-color: #363b4e;
    color: #fff;
    padding: 9px 10px;
    position: relative;
}
h4.blg_title:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #363b4e;
    bottom: -3px;
    width: 100%;
    left: 0;
}
.owl_custom2 .blog_service {
    padding: 10px;
}
.elimore > a, .elimore_showonly > a{
    display:block;
    padding:10px;
    text-align:center;
    text-transform:uppercase;
    color:#fff;
    border: 0;
    background-color: #E74C3C;
    border-bottom: 3px solid #C0392B;
}

.ftr_bar .input-prepend {
    margin-top: 20px;
}
.ftr_bar .input-prepend input {
    background-color: #3f4b69;
    border: 0 none;
    border-radius: 5px;
    padding: 13px 13px;
    width: 100%;
    color: #eaebed;
}
.ftr_bar .input-prepend input:focus {
    outline: 0 none;
}
.ftr_bar .input-prepend input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #eaebed;
}
.ftr_bar .btn_subscribe {
    background-color: transparent;
    border: 1px solid #eaebed;
    color: #eaebed;
    padding: 12px 15px;
    border-radius: 5px;
    margin-top: 15px;
}

/*--view_details page start---*/
section.view_page {
    background-color: #363b4e;
    top: 0;
    padding-top: 113px;
}
.view_leftimg {
    width: 100%;
}
.view_overlay {
    position: absolute;
    right: 0;
    top: 113px;
    height: 77%;
    width: 52%;
    background-color: #ffb400;
    overflow: hidden;
}
.view_profile {
    background-color: #fff;
    padding: 15px;
    position: absolute;
    left: -39px;
    top: 50%;
    transform: translateY(-64%);
    width: 50%;
    box-shadow: 1px 1px 16px -2px #ada9a9;
}
.view_profile span img {
    height: 90px;
    width: 90px;
    margin-bottom: 10px;
}

.view_profile h4 {
    color: #363b4e;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
}
.view_profile div span i {
    color: #ffb400;
    margin-right: 15px;
    font-size: 16px;
}
.view_profile div span i:hover {
    color: #363b4e;
}
section.view_comment {
    padding: 30px 10px;
    height: auto;
    min-height: 500px;
}
.text_comment {
    position: absolute;
    width: 50%;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 1px 16px -2px #ada9a9;
    padding: 60px 30px;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
    height: 70%;
}
.text_comment p {
    line-height: 26px;
}

/*--view_details page end---*/

.inline_flex {
    display: inline-flex;
}


.a_head {
    text-align: left;
    margin-bottom: 0;
}
.about_card {
    background-color: transparent;
}
.about_card .card-header {
    padding: 0px 20px;
    background-color: #323a4f;
    border: 0 none;
    height: 100%;
}
.a_head {
    text-align: left;
    margin-bottom: 0;
    position: relative;
}
.a_head span img {
    height: 35px;
    width: 35px;
}
.a_head span.h5 {
    font-size: 18px;
    font-weight: 600;
    margin: 18px 10px 21px;
    display: inline-block;
    color: #fff;
}
.a_head span.h5 i {
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 13px;
    color: #ffb400;
}
.about_body {
    background-color: #fff;
    font-size: 18px;
    line-height: 28px;
}
.m_manage {
    padding: 0;margin: 0;
}
            
@media (max-width: 1199px) {
    .navbar-custom .nav li a {
        padding: 10px 5px;
    }
    .navbar-nav .nav-item {
        margin: 22px 2px;
    }
    .service_product .tab-content {
        width: 100%;
    }
    .contact_touch, .contact_list {
        width: 80%;
    }
    .int span {
        width: 18%;
    }
    .view_profile {
        transform: translateY(-58%);
    }
    .view_overlay {
        height: 75%;
    }
}

@media (max-width: 991px) {
    .m_none {
        display: none !important;
    }
    .m_show {
        display: block;
    }
    .toggle_show {
        display: inline-flex !important;
    }
    .about_absolute {
        right: 0px;
    }
    #about .about-text {
        padding-left: 0;
        margin-top: 9%;
    }
    .promote_logo {
        width: 82%;
    }
    .tabbable-line ul li {
        width: 30%;
    }
    .career_conlist {
        margin: 10% auto 0;
    }
    .career_conlist ul li {
        width: 40%;
    }
    .gettouch {
        padding: 20px 10px;
    }
    .contact_touch .right {
        margin-top: 55%;
        padding: 10px 30px;
    }
    .navbar_cst {
        margin-top: 20px;
        /*box-shadow: 0px 0px 0px 1px #363b4e;*/
    }
    .scl .navbar_cst {
        box-shadow: none;
    }
    .navbar-custom .nav li a {
        padding: 0px 8px;
    }
    .wow{
        animation-name: none !important;
        visibility: visible !important;
    }
    .service {
        margin-bottom: 30px;
    }
    .service_product .tab-content {
        width: 97%;
    }
    .contact_touch, .contact_list {
        width: 100%;
    }
    .contact_list ul li:nth-child(2) {
        padding-left: 30px;
    }
    .ftr_bar, .inline {
        padding-left: 0;
    }
    .int span {
        width: 29%;
    }
    #about, #services, #works, #team, #testimonials {
        padding-top: 160px;
    }
    .carer_list ul {
        margin: 0px 0 5px;
    }
    #team {
        display: block !important;
        height: auto !important;
    }
    .m_search {
        position: absolute;
        right: 100px;
        top: 7px;
        font-size: 30px;
    }
    .m_search a i {
        font-size: 22px;
    }
    .contact_msg input[type='file'] {
        width: 100%;
    }
    .sidemenu_btn {
        margin-top: 11px;
        margin-right: 0;
    }
    .owl_custom {
        margin-top: 25px;
    }
    .owl_custom .mng_link img.img-fluid {
        filter: grayscale(0%);
        min-height: 250px;
        max-height: 250px;
    }
    .owl_custom .owl-nav .owl-prev, .owl_custom .owl-nav .owl-next {
        top: 47%;
    }
    .view_profile {
        width: 80%;
        transform: translateY(-52%);
    }
    .view_overlay {
        height: 68%;
    }
    .text_comment {
        width: 80%;
        top: -55px;
    }
    section.view_page {
        top: -48px;
    }
}

@media (max-width: 850px) {
    .navbar_cst {
            margin-top: -4px;
    }
    span.blog_span {
        margin: 0 4px 0 4px;
    }

}

/*@media only screen and (orientation: landscape) {
   #intro .intro-body H1 {
        margin-top: 147px;
        margin-bottom: 3px;
    }
    #intro .intro-body H1 img {
        width: 32%;
    }
    #intro .intro-body .intro-text {
        font-size: 12px;
    }
    .step_card {
        transform: translateX(-50%) translateY(-5%);
    }
}*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

@media (max-width: 767px) {
    section.view_page {
        top: -55px;
    }
    .view_profile {
        width: 100%;
        transform: translateY(-47%);
        left: -19px;
    }
    .m_search {
        right: 75px;
        top: 0;
    }
    .sidemenu_btn {
        margin-top: 11px;
    }
    .m_hidee {
        display: none !important;
    }
    .m_p0 {
        padding: 0;
    }
    .my-4 {
        margin: 4rem 0 0;
    }
    .m_bg_theme {
        background-color: #323a4f;
    }
    #intro {
        padding: 0px 0;
    }
    #intro .intro-body {
        position: initial;
        transform: none;
    }
    .navbar_cst {
        background-color: #363b4e;
        margin-top: 0;
    }
    .scl .bg_scrol {
        min-height: auto;
    }
    .navbar-custom .navbar-brand {
        padding: 0 10px;
        margin: 15px 0;
    }
    .navbar_cst .nav {
        margin: 0;
    }
    .navbar-custom .navbar-toggle {
        color: #000;
        font-size: 24px;
        border-radius: 5px;
        padding: 0 10px;
        margin-top: 10px;
        background-color: #ffb400;
    }
    .navbar-custom .nav li a {
        padding: 15px 30px;
    }
    #about, #services, #works, #team, #testimonials {
        padding-top: 100px;
    }
    .career_conlist ul li {
        width: 50%;
    }
    .owl-prev, .owl-next {
        top: 54%;
    }
    #contact {
        padding: 80px 0 0;
    }
    .gettouch {
        padding: 13px 10px;
        width: 95%;
    }
    .contact_touch .right {
        margin-top: 8%;
        padding: 10px 10px 21px;
    }
    .ftr_bar {
        text-align: left;
        margin-bottom: 25px;
    }
    /*.tabbable-line ul li {
        width: 40%;
    }
    .tabbable-line ul li a, .tabbable-line ul li a:hover, .tabbable-line ul li a:focus {
        margin-bottom: 15px;
        min-height: 100px;
    }
    .tabbable-line ul li a:hover:after, .tabbable-line ul li.active a:after {
        content: none;
    }*/
    .slide-toggle {
        padding: 0;
        margin-bottom: 10px;
    }
    .contact_touch .right ul li {
        width: 100%;
    }
    .step_single1:hover span .with_hover,
    .step_single2:hover span .with_hover, 
    .step_single3:hover span .with_hover {
        display: block;
    }
    .step_single1:hover span .without_hover, 
    .step_single2:hover span .without_hover, 
    .step_single3:hover span .without_hover {
        display: block;
    }

    .about-text ul li span:after {
        content: none;
    }
    .owl_custom2 .owl-prev, .owl_custom2 .owl-next {
        display: none;
    }
    
    .navbar-custom .navbar-brand img {
        min-width: 30%;
    }
    .search_box_m input[type=text]  {
           position: absolute;
            width: 90%;
            height: 50px;
            left: 50%;
            top: 57px;
            margin: 0 auto;
            transform: translateX(-50%);
            box-sizing: border-box;
            box-shadow: none;
            border-radius: 4px;
            font-size: 16px;
            background-color: #ffb400;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 20px;
            -webkit-transition: width 0.9s ease-in-out;
            transition: width 0.9s ease-in-out;
            border: 0 none;
            z-index: 1;
    }
    .promote_list a {
        padding: 20px 10px 22px;
    }
    .promote_logo ul li.promote_list {
        margin-right: 8px;
    }
    .promote_list img.img1 {
        max-width: 138px;
    }
    .promote_list .anch1 {
        padding-bottom: 28px;
    }
    .service img {
        width: auto;
    }
    .carer_list ul li {
        left: 0;
    }
    #intro .intro-body .intro-text {
        color: #fff;
        opacity: 0.7;
    }
    span.blog_span {
        font-size: 15px;
    }
    form#contactForm {
        margin-top: 0;
    }
    .ftr_logo {
        margin-bottom: 30px;
    }
    .ftr_bar h4, .inline h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .ftr_bar ul li a {
        font-size: 16px;
    }
    .ftr_bar .btn_subscribe {
        margin-top: 0px;
    }
    .contact_touch ul {
        display: inline;
    }
    .contact_list ul {
            display: block;
        width: 85%;
        margin-top: 30px;
        margin: 0 auto;
        padding: 20px 0;
    }
    .contact_list ul li {
        width: 100%;
        float: inherit;
        margin-bottom: 12px;
    }
    .fl_left {
        width: 10%;
        text-align: center;
    }
    .contact_list ul li:nth-child(2) {
        padding-left: 0px;
    }
    .contact_list ul li:nth-child(3) {
        padding-left: 0px;
    }
    .int span {
        width: 35%;
    }
}
@media (max-width: 575px) {
    .tr_overlay {
        height: 67%;
        width: 100%;
        display: block;
        position: absolute;
        right: 0;
        background-color: #fff;
        box-shadow: 4px 2px 14px 0px #4a4848;
        border-radius: 4px 0 0 1px;
        z-index: 0;
        bottom: 6px;
    }
    .int span {
        width: 19%;
    }
    .view_profile {
        left: 0;
        transform: translateY(-20%);
    }
    .view_overlay {
        display: none;
    }
    .text_comment {
        width: 98%;
        top: 90px;
    }
    section.view_comment {
        height: 100%;
    }
    .owl_custom1 .owl-nav .owl-prev, .owl_custom1 .owl-nav .owl-next {
        top: 60%;
    }
}

@media (max-width: 550px) {
    #works {
        background-position: bottom right;
    }
    .ftr_bar {
        padding-left: 0;
    }
    .inline ul li a {
        padding: 10px 11px;
    }
    #intro .intro-body H1 img {
        width: 100%;
    }
    .promote {
        background-color: transparent;
        max-height: 100%;
    }
    .promote_logo {
        width: 100%;
    }
    .promote_logo ul li.promote_list {
        margin-bottom: 10px;
        width: 100%;
    }
    .promote_list a {
        padding: 15px 10px 14px;
    }
    .card.hovercard .info .desc1 {
            margin: 0px 0 5px;
    }
    .card.hovercard .bottom {
            margin-bottom: 8px;
    }
    .contact_touch ul li {
        width: 100%;
        height: auto;
    }
    .form_list {
        width: 100% !important;
        background-color: #fff;
    }
    .contact_touch ul {
        display: block;
    }
    #team {
        height: auto !important;
    }
}

@media (max-width: 424px) {
    .career_conlist ul li {
        width: 80%;
    }
    .service img {
        width: 100%;
    }
    .team_title h2, .section_test h2 {
        line-height: 30px;
    }
    .carer_list ul {
        margin: 0 auto;
        width: 70%;
    }
    .carer_list ul li {
        display: block;
        border-radius: 0;
    }
}

@media (max-height: 640px) {
    .scl .navbar_cst, .navbar_cst {
        max-height: 270px !important;
    }
}

/*@media (max-height: 500px) {
    #intro {
        max-height: 75vh;
    }
    .navbar_cst {
        box-shadow: 0px 0px 0px 0px #363b4e;
    }
    .step_card {
        transform: translateX(-50%) translateY(-25%);
    }
    #intro .intro-body H1 {
        margin-top: 140px;
    }
    #intro .intro-body H1 img {
        width: 50%;
    }
    #intro .intro-body .intro-text {
        font-size: 16px;
    }
    #about {
        padding: 120px 0 130px;
    }
}*/